* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Myriad Pro','Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.75rem;
}


a {
    text-decoration: none;
    color: #00233b;
}

h1 {
    font-family: 'Cardo', serif;
    font-size: 2.45rem;
    font-weight: 600;
    line-height: 3.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 5rem;
    color: white;
}

h3 {
    font-size: 2.45rem;
    font-weight: 300;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

h3.semibold {
    font-family: 'Myriad Pro Semibold';
}

h4.semibold {
    font-family: 'Myriad Pro Semibold';
}

ul {
    padding: 0px 20px;
}

input, textarea {
    background-color: white;
    font-family: 'Myriad Pro';
    font-size: 1.5rem;
    border-radius: 30px;
    width: 100%;
    padding: 10px 20px;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-item-3 {
    width: 33%;
}

.flex-item-4 {
    width: 25%;
}

.wrapper-center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px; 
}

section {
    display: block;
    position: relative;
}


section.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;    
    padding-top: 40px;
    min-width: 1200px;
}

section.menu .logo img.regular {
    display: inline;
}

section.menu .logo img.small {
    display: none;
}

section.menu.small .logo img.regular {
    display: none;
}

section.menu.small .logo img.small {
    display: inline;
}

section.menu.small {
    background-color: white;
    height: 100px;
    padding-top: 20px;
}

section.menu .wrapper-center {
    padding: 0px;
}

section.menu .left {
    width: 330px;
    padding-left: 40px;
    float: left;
    margin-right: 50px;
}

section.menu.small div.logo {
    padding-top: 5px;
    padding-left: 35px;
}

section.menu .right {
    float: left;
}

section.menu .right nav {
    float: left;
}

section.menu .right nav ul {
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 20px;
    margin-top: 20px;
}

section.menu .right nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

section.menu .right nav ul li a {
    font-weight: 500;
}

section.menu .right nav ul li a:after {
    content: '';
    width: 40px;
    height: 3px;
    display: block;
    margin-top: 10px;
}

section.menu .right nav ul li a.selected:after {
    content: '';
    width: 40px;
    height: 3px;
    display: block;
    margin-top: 10px;
    margin-left: -10px;
    background-color: #00aeef;
}

section.hero {
    background-color: #00233b;
    color: white;
    height: 700px;
    display: flex;    
}

section.hero .wrapper-center {
    padding: 0px;
}

section.hero .wrapper-center .container {
    background-image: url('../images/lighthouse.png');
    background-position: left top;
    background-repeat: no-repeat;
    margin-left: 370px;
    height: 100%;
    width: 100%;
}

section.hero .left {
    width: 320px;
    margin-left: -370px;
    padding-left: 50px;
    float: left;
    padding-top: 100px;
}

section.hero .left h1 {
    width: 230px;
    font-size: 2.7rem;
    color: #00aeef;
    margin-top: 100px;
}


section.funding {
    text-align: center;
    margin-bottom: 40px;
}

section.funding .chart {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.2rem;
    margin: 80px auto;
    width: 260px;
    height: 260px;
    position: relative;
    color: #00233b; 
    fill: none;
    stroke-width: 1.5;
}

section.funding .circular-chart .grey {
    fill: none;
    stroke: silver;
    stroke-width: .3;
}

section.funding .circular-chart .white {
    stroke: white;
}

section.funding .circular-chart .circle {
    stroke-width: 1.1;
    stroke: #00233b;
}

section.funding .circular-chart .text {
    font-size: 0.2rem;
    fill: #00233b;
    text-anchor: middle;
}

section.funding .circular-chart .percentage {
    font-size: 0.6rem;
    fill: #00233b;
    font-weight: 600;
    text-anchor: middle;
}

section.funding .amount {
    font-size: 3.3rem;
    font-weight: 600;
}

section.means {
    background-color: #eee;
    display: flex;  
}

section.means .wrapper-center {
    padding: 0px;
}

section.means .wrapper-center .container {
    background-image: url('../images/forklift_bg.png');
    background-position: left top;
    background-repeat: no-repeat;
    margin-left: 815px;
    height: 595px;
    width: 100%;

}

section.means .left {
    width: 800px;
    margin-left: -815px;
    float: left;
}

section.means .left ul{
    margin-top: 0px;
}

section.investments {
    text-align: center;
    padding-bottom: 50px;
}

section.investments .flex-item-3 {
    margin: 15px;
    font-size: 2rem;
}

section.investments .flex-item-3 .image-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
    clear: left;
    background-image: url('../images/line.png');
    background-repeat: repeat-x;
    background-position: center center;
    padding: 15px;
}

section.investments .flex-item-3 .image-wrapper img {
    background-color: white;
    padding: 15px;
}

section.references {
    background: url('../images/references_bg.png') no-repeat top center;
    background-size: cover;
    padding: 45px;
}

section.contest {
    font-size: 1.6rem;
}

section.obtain-funding {
    text-align: center;
}

section.obtain-funding .flex {
    margin-top: 60px;
}

section.obtain-funding .flex-item-3 {
    margin: 15px;
}

section.obtain-funding .flex-item-3 h4{
    margin-top: 70px;
    margin-bottom: 50px;
}

section.contact-form {
    background: url('../images/form_bg.png') no-repeat top center;
    background-size: cover;
}

section.contact-form label {
    font-family: 'Myriad Pro Semibold';
    color: #00aeef;
    margin-left: 15px;
    display: block;
}

section.contact-form .form {
    order: 1;
    margin: 20px;
    width: 60%;
}

section.contact-form .form .form-header {
    margin-bottom: 20px;
}

section.contact-form .form .row {
    margin-top: 10px;
    justify-content: space-between;
}

section.contact-form .form .half-column {
    width: 45%;
}

section.contact-form .form img {
    float: left;
    margin-right: 20px;
}

section.contact-form .form h3 {
    font-size: 1.9rem;
    color: white;
    display: inline;
    letter-spacing: 0.04em;
    line-height: 3rem;
    font-family: 'Cardo', serif;
    font-weight: bold;
}

section.contact-form .contact {
    order: 2;
    margin: 20px;
    width: 33%;
}

section.contact-form .contact img {
    vertical-align: sub;
}

section.contact-form .contact h1 {
    font-size:3.5rem;
    margin-left: 20px;
    color: white;
    display: inline;
}

section.contact-form .contact label {
    display: inline-block;
    width: 100px;
}

section.contact-form .contact.flex {
    flex-direction: column;
}

section.contact-form .contact .contact-header {
    margin-bottom: 70px;
    order: 1;
}

section.contact-form .contact .contact-lines-wrapper {
    order: 2;
}

section.contact-form .contact .send-btn-wrapper {
    margin-top: 150px;
    order: 3;
}

section.contact-form .contact .contact-line {
    margin-top: 30px;
    font-family: 'Myriad Pro Semibold';
    color: white;
}

.footer {
    width: 100%;
    color: #fff;
    background-color: #00233bcc;
    margin-top: 20px;
}

.footer .wrapper-center {
    padding: 20px 0px 20px 60px;;
}

.footer span.copyright {
    color: #00aeef;
}

.btn-analysis  {
    padding: 6px 20px;
    background-color: #00aeef;
    border-width: 0px;
    color: #fff;
    border-radius: 30px;   
    margin-left: 20px;
    display: block;
    font-size: 1.5rem;
    line-height: 2.75rem;
    float: right;
    margin-top: 20px;
}

.btn-send  {
    width: 145px;
    padding: 6px 20px;
    margin-left: 15px;
    background-color: #00aeef;
    border-width: 0px;
    color: #fff;
    border-radius: 30px;   
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.75rem;
}


@media all and (max-width: 600px) {
    html {
        font-size: 11px;
    }
    h2 {
        font-size: 1.7rem;
        line-height: 3rem;
    }
    .flex {
        flex-direction: column;
    }
    .flex-item-3 {
        width: 100%;
    }
    .flex-item-4 {
        width: 100%;
    }    
    .wrapper-center {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px; 
    }   
    section.menu {
        padding-top: 20px;
        min-width: 0px;
    }
    section.menu.small {
        height: auto;
    }
    section.menu .left {
        width: 50%;
        padding:10px;
        margin-right: 0px;
    }
    section.menu .left .logo {
        padding: 0px;
        text-align: center;
    }
    section.menu .left .logo img {
        height: 50px;
    }
    section.menu.small {
        padding: 10px 0px;
    }
    section.menu.small .left .logo {
        padding: 0px;
        text-align: center;
    }
    section.menu .right {
        width: 50%;
        padding:10px;
        font-size: 1rem;
    } 
    section.menu .right nav{
        display: none;
    }
    .btn-analysis  {
        font-size: 1.1rem;
        padding: 3px 10px;
        margin-top: 5px;
    }
    section.hero {
        height: auto;
    }
    section.hero .wrapper-center .container {
        padding-left: 0px;
        margin-left: 0px;
        height: auto;
    }
    section.hero .left {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
        float: none;
    }

    section.hero .left h1 {
        width: 100%;
        font-size: 2.3rem;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #00233b;
        margin-top: 100%;
        padding: 25px;
        color: white;
    }
    
    section.funding .chart {
        margin-bottom: 20px;
    }
    
    section.means .wrapper-center .container {
        margin-left: 0px;
        height: auto;
        width: 100%;
        background-image: none;
    }

    section.means .left {
        width: auto;
        margin-left: 0px;
        float: none;
        padding: 20px 15px 0px 15px;
    }

    section.investments .flex-item-3 {
        margin: 20px 0px;
        padding: 0px 15px;
        font-size: 2rem;
    }

    section.investments .flex-item-3 .image-wrapper .line {
        vertical-align: top;
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    section.investments .flex-item-3 .image-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        float: none;
    }    

    section.references {
        padding: 0px;
    }

    section.obtain-funding .flex-item-3 {
        margin: 15px 0px 25px 0px;
    }

    section.obtain-funding .flex-item-3 h4{
        margin: 30px 0px;
    }

    section.contact-form {
        height: auto;
    }

    section.contact-form .form {
        order: 1;
        margin: 0px;
        width: 100%;
        padding-top: 10px;
    }

    section.contact-form .form img {
        float: right;
        margin-right: 0px;
    }
    section.contact-form .form .half-column {
        width: 48%;
    }

    section.contact-form .form .flex.row {
        flex-direction: row;
    }

    input, textarea {
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    section.contact-form .contact {
        order: 2;
        margin: 20px 0px 0px 0px ;
        width: 100%;
    }

    section.contact-form .contact img {
        float: right;
        margin-right: 0px;
    }

    section.contact-form .contact h1 {
        margin-left: 0px;
    }

    section.contact-form .contact .contact-header {
        margin-top: 50px;
        margin-bottom: 0px;
        order: 2;
    }

    section.contact-form .contact .contact-lines-wrapper {
        order: 3;   
    }
    
    section.contact-form .contact .send-btn-wrapper {
        margin-top: 0px;
        order: 1;
    }
    
    section.contact-form .contact .contact-line {
        margin-top: 10px;
        font-family: 'Myriad Pro Semibold';
        color: white;
    }

    .footer .wrapper-center {
        padding: 10px 15px 10px 15px;;
    }    

    .btn-send  {
        margin-top:-200px;
        margin-left: 0px;
    }
}