html {
    font-size: 12px;
    min-width: 1200px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.75rem;
}

a {
    text-decoration: none;
    color: #00233b;
}

h1 {
    font-family: 'Cardo', serif;
    font-size: 2.45rem;
    font-weight: 600;
    line-height: 3.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 5rem;
    color: white;
}

h3 {
    font-size: 2.45rem;
    font-weight: 300;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

h3.semibold {
    font-weight: 600;
}

.center {
    text-align: center;
}
.flex {
    display: flex;
}

.flex-item-3 {
    width: 30%;
}

.flex-item-4 {
    width: 25%;
}

.wrapper-center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: block;
    position: relative;
}

section.hero {
    background-color: #00233b;
    color: white;
    height: 700px;
    display: flex;    
}

section.hero .wrapper-center .container {
    background-image: url('../images/lighthouse.png');
    background-position: left top;
    background-repeat: no-repeat;
    margin-left: 370px;
    padding-left: -370px;
    height: 100%;
    width: 100%;
}

section.hero .left {
    width: 320px;
    margin-left: -370px;
    padding-left: 40px;
    float: left;
    padding-top: 40px;
}

section.hero .left h1 {
    width: 230px;
}

section.hero div.logo {
    margin-bottom: 100px;
}

section.hero .right {
    float: left;
    padding-top: 40px;
}

section.hero .right nav ul {
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 30px;
    margin-top: 20px;
}

section.hero .right nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    /*border-bottom: 2px solid #00aeef;*/
}

section.hero .right nav ul li a {
    font-weight: 500;
}

section.hero .right nav ul li a.selected:after {
    content: '';
    width: 30px;
    height: 3px;
    display: block;
    margin-top: 10px;
    margin-left: -10px;
    background-color: #00aeef;
}

section.funding {
    text-align: center;
}

section.funding .chart {
    display: block;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin: 80px auto;
    width: 180px;
    height: 180px;
    position: relative;
}

section.funding .circle-light{
    position: absolute;
    top: 3;
    left: 3;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    border-radius: 50%;
    width: 104%;
    height: 104%;
}

section.funding .circle{
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 8px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
section.funding .circle-half {
    clip: rect(0px, 200px, 200px, 100px);
}

section.funding .chart .white{
    border-color: white;
}

section.funding .chart .color{
    border-color: #00233b; 
}

section.funding .circle-plus{    
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(4deg);
}

section.funding .circle-minus {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-4deg);
}

section.funding .circle-90{
    transform: rotate(144deg);
}

section.funding .circle-80{
    transform: rotate(108deg);
}

section.funding .circle-60{
    transform: rotate(36deg);
}

section.funding .amount {
    font-size: 3rem;
    font-weight: 600;
    color: #00233b; 
}

section.means {
    background-color: #eee;
}

section.contest {
    font-size: 1.6rem;
}

section.references {
    background: url('../images/references_bg.png') no-repeat top center;
    padding: 45px;
}

section.contact-form {
    background: url('../images/form_bg.png') no-repeat top center;
    background-size: cover;
    height: 636px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    color: #fff;
}

.footer span.copyright {
    color: #00aeef;
}

.btn-references {
    text-transform: uppercase;
    padding: 18px 30px;
    background-color: #00233b;
    color: #fff;
    border-radius: 45px;   
    margin: 40px;
    display: inline-block;
}

.btn-analysis  {
    padding: 6px 20px;
    background-color: #00aeef;
    color: #fff;
    border-radius: 30px;   
    margin-left: 20px;
    display: inline-block;
}